{{page-title "DZ3"}}

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <LinkTo class="navbar-brand" @route="index">
			<img src="images/logo-dark.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    		Книжный клуб
		</LinkTo>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Открыть меню">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarContent">
			<ul class="nav navbar-nav navigation-main">
				<li class="nav-item active">
					<a class="nav-link" href="index.html">Рабочий стол <span class="sr-only">(текущий)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="meetings.html">Встречи клуба</a>
				</li>
				<li class="nav-item">
				
          <LinkTo class="nav-link" @route="xxx">Книги</LinkTo>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="speakers.html">Спикеры</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-success" href="#">Оставить заявку</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-primary" href="#">Запланировать</a>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="login.html">Войти</a>
				</li>
			</ul>
		</div>
</nav>
<div class="container h-100">
  {{outlet}}
</div>
<footer class="footer">
  <div class="container">
      <span>&copy; Skyori, 2020</span>
  </div>
</footer>

